.docx
.sh
.txt
2. házi feladat/Project/Libs/
2. házi feladat/Project/Programs/Skeleton/.vs/
2. házi feladat/Project/Programs/Skeleton/bin/
2. h\303\241zi feladat/Project/Libs/
2. h\303\241zi feladat/Project/Programs/Skeleton/.vs/
2. h\303\241zi feladat/Project/Programs/Skeleton/bin/
1. házi feladat/Project/Libs/
bin/